knowledge_base/
ECE4415_course_files/
group_meetings/
obj_dir/
*.vcd
*.hex

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/